---
import { Icon } from "astro-icon";
import { getHomePermalink } from "~/utils/permalinks";
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}
            >Double Trouble</a
          >
        </div>
        <div class="text-sm text-gray-600">
          <a
            class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            href="/legal">Legal notice (Impressum)</a
          > ·
          <a
            class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            href="/privacy">Privacy Policy (GDPR)</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
