---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
        <div style="text-align:center">
<br>
<br>
Twice the fun, <i>double</i> the trouble.
<br>
🤜🤛
<br><br><br>
                            ⚠️This page is under construction. ⚠
</div>
	<HighlightedPosts />
</Layout>
