---
import { SITE } from "~/config.mjs";
import { getCanonical, getHomePermalink } from "~/utils/permalinks";
import Layout from "~/layouts/PageLayout.astro";

import HighlightedPosts from "~/components/blog/HighlightedPosts.astro";

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
  <div style="text-align:center">
    <h2
      class="mt-8 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading"
    >
      Twice the fun, <div
        class="bg-clip-text text-transparent bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-yellow-600 to-yellow-100"
      >
        <i>double</i>
      </div> the trouble.
    </h2>
    <div class="flex items-center justify-center mb-4 mt-12">
      <div class="grid grid-cols-2 gap-0">
        <!-- related animation in base.css -->
        <div id="leftFist" class="text-9xl">🤜</div>
        <div id="rightFist" class="text-9xl">🤛</div>
      </div>
    </div>
  </div>
  <HighlightedPosts />
</Layout>
