---
import {v4} from "uuid";
// this atom depends also on flowbite for the actual popover mechanic

const {text, title} = Astro.props

// have the uuid shorter
const uuid = v4().split("-")[0];
const popoverId = "popover-" + uuid
---
<button data-popover-target={popoverId} type="button" class="text-slate-200 light:hover:bg-slate-600 light:focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-full text-sm text-center bg-slate-700  light:bg-sky-200 hover:bg-sky-700 focus:ring-blue-800 px-2">i</button>

<div data-popover id={popoverId} role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm light:text-gray-500 transition-opacity duration-300 light:bg-white border light:border-gray-200 rounded-lg shadow-sm opacity-0 text-white border-gray-600 bg-gray-800">
    <div class="py-1 px-2 light:bg-gray-100 border-b light:border-gray-200 rounded-t-lg border-gray-600 bg-slate-800">
        <h3 class="font-semibold light:text-gray-900 text-white">{title ? title : "Info"}</h3>
    </div>
    <div class="py-1 px-2">
        <p>{text}</p>
    </div>
    <div data-popper-arrow></div>
</div>
