---
const { url, class: className = "inline-block" } = Astro.props;

const response = await fetch("https://publish.twitter.com/oembed?url=" + url);
const embeddedTweet = await response.json();

// Inspired by https://pakstech.com/blog/switching-to-twitter-comments/
---
<p class="px-4 sm:px-6 max-w-3xl mx-auto">
      <h2 class="title is-4">Any Comments? Join the Discussion on Twitter:</h2>
      <p class="align:center" set:html={embeddedTweet.html}></p>
</p>