---
import Image from "~/components/core/Image.astro";

import { findImage } from "~/utils/images";
import { getPermalink } from "~/utils/permalinks";

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article class="mb-6 transition">
  <div transition:name={"picture"+post.id}
    class="relative h-0 pb-[56.25%] lg:h-52 overflow-hidden bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-2"
  >
    <a
      href={getPermalink(post.slug, "post")}
      class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
    >
      <Image
        src={image}
        class="object-cover w-full lg:h-52 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        widths={[400, 900]}
        sizes="(max-width: 900px) 400px, 900px"
        alt={post.title}
      />
    </a>
  </div>
  <h3 transition:name={"title"+post.id} class="mb-2 text-m font-bold leading-snug sm:text-m font-heading">
    <a
      href={getPermalink(post.slug, "post")}
      class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
    >
      {post.title}
    </a>
  </h3>
  <p class="text-gray-700 dark:text-gray-400 text-m sm:text-xs">
    {post.excerpt || post.description}
  </p>
</article>
