---
import Grid from "~/components/blog/Grid.astro";

import { findPostsByIds } from "~/utils/posts";

const ids = [
	"negativ-space-programming",
        "howto-htmx-astrodb-astrossr",
        "analyzing-gitlab-metrics-sqlite-grafana-guide",
        "optimal-pipeline-setup",
];

const posts = await findPostsByIds(ids);
---

<section class="pt-16 px-4 py-4 mx-auto max-w-5xl">
	<div class="flex flex-col lg:justify-between lg:flex-row md:mb-2">
		<h2
			class="max-w-lg text-xl font-bold tracking-tight sm:text-xl sm:leading-none group font-heading"
		>
			<span class="inline-block mb-1 sm:mb-1">Highlighted Posts:</span>
		</h2>
	</div>
	<Grid posts={posts} />
</section>
