@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
	}
}

[astro-icon] > * {
	stroke-width: 1.5;
}

[astro-icon].icon-bold > * {
	stroke-width: 2;
}

[data-aw-toggle-menu] path {
	@apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
	@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
	@apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

/* Set the initial position of the fists to be offscreen */
.right-fist {
    position: fixed;
    right: 0;
    top: 50%;
    font-size: 10rem;
}

.left-fist {
    position: fixed;
    left: 0;
    top: 50%;
    font-size: 10rem;
}

/* Animate the fists to move towards each other scroll */
@keyframes fistBump {
    0% {
        right: -50px;
        left: -50px;
    }
    100% {
        right: 50%;
        left: 50%
    }
}

/* Apply the animation to the fist */
.animate {
    animation: fistBump 1s ease-in-out;
    animation-fill-mode: forwards;
}
