---
import "~/assets/styles/base.css";

import { ViewTransitions } from "astro:transitions";

import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";

const { meta = {} } = Astro.props;

// https://stackoverflow.com/questions/66120513/property-does-not-exist-on-type-window-typeof-globalthis
declare global {
  interface Window {
    usermaven?: any;
    usermavenQ?: any;
  }
}
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth font-light 2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
    <meta name="view-transition" content="same-origin" />
    <script async src="https://t.usermaven.com/lib.js"
        data-key="UMGyRPpZdu"
        data-tracking-host="https://events.usermaven.com"
        data-autocapture="true"
        data-privacy-policy="strict"
        is:inline
        defer>
    </script>
    <script>window.usermaven = window.usermaven || (function(){(window.usermavenQ = window.usermavenQ || []).push(arguments);})</script>
  </head>

  <ViewTransitions />

  <body
    class="antialiased light:text-gray-900 text-slate-100 tracking-tight light:bg-white bg-slate-900"
  >
    <div id="container">
      <div id="content">
        <slot />
      </div>
    </div>
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
