---
import Layout from "~/layouts/BaseLayout.astro";
import Header from "~/components/widgets/Header.astro";
import Footer from "~/components/widgets/Footer.astro";

const { meta  } = Astro.props;
const isBlog = (meta.ogType == "article") ? true : false
---

<Layout {meta}>
  <Header {isBlog} />
  <main>
    <slot />
  </main>
  <Footer />
</Layout>
